# Python/Backend
backend/__pycache__/
backend/uploads/*
!backend/uploads/.gitkeep
backend/static/*
!backend/static/.gitkeep
backend/.env

# Node/Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# OS/Editors
.vscode/
.idea/
.DS_Store
*.log
